#button-example
  h2 Buttons
  .row
    .col-12
      h3 Types
      a.button(href='#') Link
      .button(href='#') DIV
      input(type="button", value="Input").button
      button.button(href='#') Button
  .row
    .col-12
      h3 Colors
      a.button(href='#') Default
      a.button.button-primary(href='#') Primary
      a.button.button-success(href='#') Success
      a.button.button-warning(href='#') Warning
      a.button.button-danger(href='#') Danger
  .row
    .col-4
      h3 Button Sizing
      div
        a.button.button-small(href='#') Small
        a.button(href='#') Default
        a.button.button-large(href='#') Large
      div
        a.button.button-large(href='#') Large
        a.button(href='#') Default
        a.button.button-small(href='#') Small
      div
        a.button.button-block.button-primary(href='#') Block
        a.button.button-block.button-warning(href='#') Block
        a.button.button-block.button-danger(href='#') Block
