style.
  #grid-example [class*="col-"] {
    border: 1px solid #ccc;
    text-align: center;
  }
#grid-example
  h2 Grid
  .row
    .col-12
      p twelve
  .row
    .col-1
      p one
    .col-11
      p eleven
  .row
    .col-2
      p two
    .col-10
      p ten
  .row
    .col-3
      p three
    .col-9
      p nine
  .row
    .col-4
      p four
    .col-8
      p eight
  .row
    .col-5
      p five
    .col-7
      p seven
  .row
    .col-6
      p six
    .col-6
      p six
  .row
    .col-7
      p seven
    .col-5
      p five
  .row
    .col-8
      p eight
    .col-4
      p four
  .row
    .col-9
      p nine
    .col-3
      p three
  .row
    .col-10
      p ten
    .col-2
      p two
  .row
    .col-11
      p eleven
    .col-1
      p one
  .row
    .col-12
      p twelve
