.row
  .col-12
    h2.font-bold Lists
.row
  .col-4
    ol
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie
  .col-4
    ul
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie
  .col-4
    ol.circle-potato
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie
.row
  .col-4
    ul.alpha-potato
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie
  .col-4
    ol.roman-potato
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie
  .col-4
    ul.square-potato
      li Pumpkin Spice Latte
      li Green Tea Latte
      li Youthberry Tea
      li Citrus Mint Green Tea Latte
      li Pumpkin Spice Frappuccino
      li Jasmine Pearls
      li Berry Smoothie