div
  nav.nav.nav-bar
    a.navbar-brand(href='') Brand
    ul.nav
      li.nav-sp  
      li Text
      li.dropdown
        a.dropdown-toggle
          | Menu 
          i.icon.icon-caret-down
        ul.dropdown-menu
          li
            a(href='') Menu1
          li
            a(href='') Menu2
          li Menu3
          li Menu4
      li.nav-active
        a(href='') Link
    ul.nav
      li
        a(href='') Sign up
      li
        a(href='') Login