.panel
  .panel-title Panel & List
  ul.list.panel-content
    li.list-item
      .panel
        .panel-container
          .panel-left
            img(src="https://p0.meituan.net/128.180/movie/ef18d29a6f6f5841f4a2dfdbcfd60a4b826961.jpg", alt="")
          .panel-content
            h3 铁血战士
            p.panel-description 主演: 波伊德·霍布鲁克,奥立薇娅·玛恩,伊冯娜·斯特拉霍夫斯基
    li.list-item
      .panel
        .panel-container
          .panel-left
            img(src="https://p0.meituan.net/128.180/movie/ef18d29a6f6f5841f4a2dfdbcfd60a4b826961.jpg", alt="")
          .panel-content
            h3 铁血战士
            p.panel-description 主演: 波伊德·霍布鲁克,奥立薇娅·玛恩,伊冯娜·斯特拉霍夫斯基