#table-exmaple
  h2 Table
  table.table.table-border.table-striped.table-hover
    thead
      tr
        th heading1
        th heading2
        th heading3
        th heading4
    tbody
      tr
        td hello
        td hello
        td hello
        td hello
      tr
        td world
        td world
        td world
        td world
      tr
        td earth
        td earth
        td earth
        td earth
    tfoot
      tr
        td prev
        td 1
        td 2
        td next