
.panel {
  padding: 0;
  margin: 15px 0;
  list-style: none;
  background: #fff;
  border-top: 1px solid #efefef;

  &-title{
    padding: 15px 10px;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
  }
  &-content {
    margin: 5px 10px;
    border-bottom: 1px solid #efefef;
    
    h3 {
      padding: 0;
      margin: 0;
    }
  }

  &-container {
    display: flex;
  }
  &-content{
    flex: 100%;
  }

  &-footer {
    color: #666;
  }
}

img{
  width: 80px;
}